<h1>Listando Questão</h1>

 <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Assunto/Área</th>
                <th>Questão</th>                
            </tr>
        </thead>
        
        <tbody>
                <td><%= @question.subject.description %></td>
                <td><%= @question.description %></td>
                
              
                
                
               
            </tr>
            
                
        </tbody>
    </table>
</div>